<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kiendo.vietnamnews">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".NewsActivity" />
        <activity android:name=".vnexpress.VnexpressControlActivity" />
        <activity android:name=".bao24h.Bao24hControlActivity" />
        <activity android:name=".thanhnien.ThanhnienControlActivity" />
        <activity android:name=".tuoitre.TuoitreControlActivity" />
        <activity android:name=".nguoilaodong.NguoilaodongControlActivity" />
        <activity android:name=".tintuc.TintucControlActivity" />
        <activity android:name=".vietnamnet.VietnamnetControlActivity"/>
        <activity android:name=".ngoisao.NgoisaoControlActivity"/>
        <activity android:name=".vneconomy.VneconomyControlActivity"/>
        <activity android:name=".dautu.DautuControlActivity"/>
        <activity android:name=".congannhandan.CandControlActivity"/>
        <activity android:name=".giaoducthoidai.GdtdControlActivity"/>
        <activity android:name=".trithuc.TrithucControlActivity"/>
        <activity android:name=".tienphong.TienphongControlActivity"/>
        <activity
            android:name=".FirstActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>